<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台首页</title>
	<meta name="keywords" content="" />
    <meta name="description" content="LarryCMS Version:1.09" />
	<meta name="Author" content="larry" />
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="Shortcut Icon" href="/static/favicon.ico" />
	<!-- load css -->
	<link rel="stylesheet" type="text/css" href="/static/common/frame/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/common/css/gobal.css" media="all">
	<link rel="stylesheet" type="text/css" href="/static/backstage/css/common.css" media="all">
	<link rel="stylesheet" type="text/css" href="/static/backstage/css/main.css" media="all">
</head>
</head>
<body>
<div class="layui-fluid larry-wrapper">
	<div class="layui-row layui-col-space20" id="infoSwitch">
		    <div class="layui-col-xs12  layui-col-sm12  layui-col-md12  layui-col-lg12">
		    	<blockquote class="layui-elem-quote  head-con">
                <div>尊敬的admin<span id="weather"></span></div>
		    	<i class="larry-icon close" id="closeInfo">&#xea5c;</i>
	        </blockquote>
	    </div>
	</div>
	<!-- 快捷图标导航 -->
	<div class="layui-row layui-col-space20 larry-shortcut" id="shortcut">
		<div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2 larry-col">
            <section class="panel pos-r larry-ico-rotate">
            	<div class="inline-block layui-bg-green larry-ico"><i class="larry-icon">&#xe9e4;</i></div>
            	<div class="inline-block right-value">
            		<a data-href="subgroup/larryfont.html">
                        <h3 class="no-count">LarryMS图标库</h3>
            		</a>
            	</div>
            </section>
		</div>
		<div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2 larry-col">
            <section class="panel pos-r larry-ico-rotate">
            	<div class="inline-block layui-bg-red larry-ico"><i class="larry-icon">&#xe8f9;</i></div>
            	<div class="inline-block right-value">
            		<a data-href="html/content/article_list.html">
                        <h3 class="no-count">所有档案列表</h3>
            		</a>
            	</div>
            </section>
		</div>
		<div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2 larry-col">
            <section class="panel pos-r larry-ico-rotate">
            	<div class="inline-block layui-bg-blue larry-ico"><i class="larry-icon">&#xe8e8;</i></div>
            	<div class="inline-block right-value">
            		<a data-href="subgroup/larrytab.html">
            			<h3 class="no-count">larryTab组件</h3>
            		</a>
            	</div>
            </section>
		</div>
		<div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2 larry-col">
            <section class="panel pos-r larry-ico-rotate">
            	<div class="inline-block layui-bg-pale larry-ico"><i class="larry-icon">&#xe6ad;</i></div>
            	<div class="inline-block right-value">
            		<a data-href="html/systemset/user.html">
                        <h3 class="no-count">用户管理</h3>
            		</a>
            	</div>
            </section>
		</div>
		<div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2 larry-col">
            <section class="panel pos-r larry-ico-rotate">
            	<div class="inline-block layui-bg-orange larry-ico"><i class="larry-icon">&#xea63;</i></div>
            	<div class="inline-block right-value">
            		<a data-href="subgroup/hover.html">
            			<h3 class="no-count">Hover页面</h3>
            		</a>
            	</div>
            </section>
		</div>
		<div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2 larry-col">
            <section class="panel pos-r larry-ico-rotate">
                <div class="inline-block layui-bg-red larry-ico"><i class="larry-icon">&#xe82b;</i></div>
                <div class="inline-block right-value">
                    <a data-href="subgroup/404.html">
                        <h3 class="no-count">404页面</h3>
                    </a>
                </div>
            </section>
        </div>
	</div>


	<div class="layui-row layui-col-space20">
	        <!-- 提示 -->
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12">
        	<blockquote class="layui-elem-quote tips-con">
                <p>
                    LarryMS后台系统界面模版完全基于Layui编写，未使用layui以外其他任何第三方UI框架；layui是个人接触到的ui框架里最好用的没有之一，只有最；作为layui的忠实用户，在使用layui的过程中获的一些心得，体验了一把layui的栅格响应式布局，遂写成此套后台管理系统模版拿与大家交流；<span class="tip">限于本人精力和经验有限，此模版中所展现出的仅是layui的冰山一角，同时感谢大家的关注和支持，希望喜欢此套模版的朋友帮忙多给予建议，互相学习交流！</span>
                </p>

                <p class="larry-p">
                    Layui后台开发交流QQ群：<a href="https://jq.qq.com/?_wv=1027&amp;k=42fC4vT" target="_blank"><img border="0" src="/static/backstage/images/group.png" title="LarryCMS官方交流群"></a>
                    <a href="http://fly.layui.com/case/2017/" target="_blank" class="layui-btn layui-btn-mini layui-btn-danger">去点个赞！</a><span class="beizhu"><em class="layui-btn layui-btn-mini">LarryMS文档</em>【 此系统模版源码可以通过加群获得，仅限于学习交流使用，提供给群内伙伴无限制使用，但不可对larryMS直接打包转售传播，如果需要用作商业用途，请联系作者授权，谢谢！】</span>
                </p>
                <p class="larry-p">
                    Layui开发文档：<a href="http://www.layui.com/doc/" target="_blank" class="layui-btn layui-btn-mini">乘此飞船前往</a><a href="http://layim.layui.com/" target="_blank" class="layui-btn layui-btn-mini">获取LayIM3.x授权</a><a href="http://wwww.layui.com/" target="_blank" class="layui-btn layui-btn-mini">官网下载Layui2.x</a>【惊艳的layui2.x犹如神来之笔，而这背后从编码、到文档、示例、到版本的release ...从始至终全凭贤心一人完成，惊为天人！Layui的完美无以复加！】
                </p>

	        </blockquote>
        </div>
            <!-- 系统概览及升级日志 -->
		<div class="layui-col-xs12 layui-col-sm12 layui-col-md6 layui-col-lg6">
			<section class="larry-panel">
				<div class="larry-panel-header">
                    <div class="larry-panel-title inline-block">LarryMS更新日志</div>
                    <div class="tools inline-block fr down"><i class="larry-icon">&#xe93a;</i></div>
                </div>
                <div class="larry-panel-body">
                    <ul class="layui-timeline">
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe756;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2017年9月20日</h3>
                                <ul>
                                    <li>
                                        larryMS 2.02更新日志; 同步layui官网最新2.1.5版本
                                    </li>
                                    <li>
                                        修复tab选项卡左右滑动反人类的移动方式，改为向左箭头则左向移动，向右箭头则向右移动
                                    </li>
                                    <li>
                                        修复spreadOne设置问题，larryTab组件初始化时可以通过设置spreadOne:true 控制左侧菜单导航同时展开个数及样式
                                    </li>
                                    <li>
                                        修正路径为相对路径，可以放置在任意目录下（注意：backstage/js/common.js 的layui.config路径需要使用绝对路径，如果你放置的larryMS模板处于非根目录需要对此进行修改为对应绝对路径）;同时增加可直接文件夹非部署环境打开版本
                                    </li>
                                    <li>
                                        新增larry-icon扩展图标至1142个（后期还会在此基础上进行适当补充和精简，以求完美实用后台的图标库）
                                    </li>
                                    <li>
                                        修复360浏览器和搜狗浏览器极速模式、Edge浏览器下的部分不兼容
                                    </li>
                                    <li>
                                        修复在开启选项卡切换刷新后，右侧选项卡点击切换刷新
                                    </li>
                                    <li>
                                        优化键盘按键事件
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2017年8月31日</h3>
                                <ul>
                                    <li>
                                        LarryMS V01_UTF8_2.01 ( iframe版 ) Layui2.10版<span class="layui-word-aux">（由larryCMS更名为LarryMS转为纯html后台模板）</span>
                                    </li>
                                    <li>
                                       针对layui2.x 重构LarryMS，未使用任何第三方UI框架，使用layui的栅格、响应式布局的纯html版后台管理系统模板,拿来即可使用
                                    </li>
                                    <li>增加larryTab组件用于菜单及tab选项卡相关处理，只需传入菜单json数据，进行智能处理<span class="layui-word-aux">（larryTab新特性作如下说明：）</span>
                                        <ul>
                                            <li>
                                                只需传入json菜单数据即可，支持不同菜单分级需求，神马 一级、二级、三级、四级菜单统统都支持，想要第五级菜单？这个需求太变态了，绝对不支持！
                                            </li>
                                            <li>
                                                新增tab选项卡缓存sessionStorage，缓存可在主题设置中开启或关闭，新增定位当前选项卡等系列常用操作，智能tab选项卡自动定位，左右滑动等诸如一些小功能就不在此一一赘述
                                            </li>
                                            <li>
                                                应群内伙伴要求新增tab选项卡切换打开时自动刷新配置(在设置主题中开启，默认关闭)，另外也可通过传入参数autoRefresh：true进行开启；增加自定义主题接口，后期开放可自定义主题配色命名存档入库
                                            </li>
                                            <li>
                                                主题设置、皮肤自定义、全屏，锁屏，缓存清理等功能，追求极致性能体验、灵活自由、使用简单，不断优化后台模板基础框架功能。
                                            </li>
                                        </ul>
                                    </li>
                                    <li>新增完美的larryMenu右键菜单组件，智能边界定位<span class="layui-word-aux">（iframe及父级框架无缝切换,完全自定义的右键菜单功能接口：传入菜单名和对应功能函数，在任何区域都可以拥有不同的右键菜单）</span></li>
                                    <li>新增larryMS公共基础common组件，比如如jq三方插件动态加载，即调即用，还可以自定义使用不同jq版本（默认使用layui提供的稳定版本的jquery），页面无需引入一大堆js，只需layui.js，larrycms.js及自定义的js文件即可，常用信息提示、confirm、message、warning、error、successd信息提示,等等细小功能</li>
                                    <li>
                                        新增ajaxGP组件，主要用于ajax-get、ajax-post处理，以及服务端开发ajax异步调试 底层信息处理<span class="layui-word-aux">（本人同时也是php菜鸟一枚，常苦于ajax异步情况下调试不爽，{ 不要说使用postman等工具 }，直接使用layer弹层显示服务端调试输出信息）</span>
                                    </li>
                                    <li>
                                        在完成后台管理系统基础功能之外，新增一些常用示例页面：如用户管理、文章列表、权限管理、栏目管理、系统参数设置，layui：table、form、upload、laypage的使用用例等页面<span class="layui-word-aux">（其余系统子页过于庞大，业余时间写不过来后续再更新）</span>
                                    </li>
                                    <li>
                                        扩展layui官方字体图标库，larry-icon 600个字体库,使用完全与layui相同，互不冲突相得益彰，新增hover,animate等第三方css3动画，鼠标点击自动复制到剪贴板，省时又省力
                                    </li>
                                    <li>
                                        新增larryMS使用文档，对各个组件使用及参数使用文档进行简要说明
                                    </li>
                                    <li>
                                        新增移动端简单适配，三级联动、下拉框多选<span class="layui-word-aux">（根据时间情况加入新版本中发布）</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2017年5月30日 </h3>
                                <ul>
                                    <li>LarryCMS V01_UTF8_1.09 ( iframe版 )  <a href="http://2017.larrycms.com/admin/" target="_blank" class="layui-btn layui-btn-mini larry-btn-a layui-btn-danger">前往查看</a></li>
                                    <li>
                                       tab选项卡针对layui 1.09_rls 不能切换关闭的问题修复
                                    </li>
                                    <li>
                                       增加json生成三级菜单tab选项卡切换
                                    </li>
                                    <li>
                                       tab选项卡内页增加添加按钮，增加页面在选项卡面板上打开
                                    </li>
                                    <li>
                                       tab选项卡增加常用操作控制功能（如关闭系列、刷新）
                                    </li>
                                    <li>
                                       tab选项卡溢出左右滑动和自动定位当前选项卡
                                    </li>
                                    <li>
                                       主题设置功能，可选主题（目前提供默认、深蓝、墨绿主题 后期提供自定义配色主题设置）
                                    </li>
                                    <li>
                                       全屏切换配合主题设置，模拟F11全屏
                                    </li>
                                    <li>
                                        tab选项卡内按钮在选项卡面板打开定位
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                          <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                          <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title">2016-12-20 LarryCMS首个版本面世:<a href="http://2016.larrycms.com/admin/" target="_blank" class="layui-btn layui-btn-mini larry-btn-a">前往查看</a></div>
                          </div>
                        </li>
                        <li class="layui-timeline-item">
                          <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-timeline-axis"></i>
                          <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title">更久以前，在学习并在项目中使用layer，顶礼膜拜贤心大神</div>
                          </div>
                        </li>
                    </ul>
                </div>
			</section>
		</div>
		<div class="layui-col-xs12 layui-col-sm12 layui-col-md6 layui-col-lg6">
			<section class="larry-panel">
                <div class="larry-panel-header">
                    <div class="larry-panel-title inline-block">系统概览</div>
                    <div class="tools inline-block fr down"><i class="larry-icon">&#xe93a;</i></div>
                </div>
                <div class="larry-panel-body">
                    <div class="larry-table">
                        <table class="layui-table larry-table-info">
                            <colgroup>
                                <col width="150">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td><span class="tit">系统名称:</span></td>
                                    <td><span class="info">LarryMS</span></td>
                                </tr>
                                <tr>
                                    <td><span class="tit">版本信息:</span></td>
                                    <td><span class="info iframe"> LarryMS v2.01 ( iframe版 )</span></td>
                                </tr>
                                <tr>
                                    <td><span class="tit">开发作者:</span></td>
                                    <td>Larry</td>
                                </tr>
                                <tr>
                                    <td><span class="tit">官网地址:</span></td>
                                    <td><span class="info"><a href="https://www.larrycms.com" class="official" target="_blank">https://www.larrycms.com</a></span></td>
                                </tr>

                                <tr>
                                    <td><span class="tit">服务器环境:</span></td>
                                    <td>PHP 7.2 + MySQL5.7 + Apache2.4.27</td>
                                </tr>
                                <tr>
                                    <td><span class="tit">系统源码下载:</span></td>
                                    <td>
                                        <a href="https://jq.qq.com/?_wv=1027&amp;k=42fC4vT" target="_blank" class="layui-btn layui-btn-small">加QQ群下载源码</a> <em class='qq-add'>Layui后台开发交流群号：493153642</em>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
		</div>




        <div class="layui-col-xs12 layui-col-sm12 layui-col-md6 layui-col-lg6">
            <section class="larry-panel">
                <div class="larry-panel-header">
                    <div class="larry-panel-title inline-block">系统公告</div>
                    <div class="tools inline-block fr down"><i class="larry-icon">&#xe93a;</i></div>
                </div>
                <div class="larry-panel-body layrr-document">
                    <fieldset class="layui-elem-field content">
                        <legend>后续版本更新计划</legend>
                        <div class="layui-field-box">
                            <p>
                                整体后台基础框架功能已逐步完善，后续版本更新重点将放在完成整套CMS系统相关子页面的完成和性能优化上，持续更新的源码会发布在Layui后台开发群内；进而转入后台程序开发，结合Thinkphp框架+Layim完成整套预计年内完成LarryCMS系统，larryCMS系统完整php源码在完成后会分享在larryMS会员群内。感谢大家的关注和支持！<br>点这里访问：<a href="http://www.larrycms.com" target="_blank">larrycms官网</a><br>
                                <hr class="layui-bg-orange">
                                <span style="color:#FF5722; ">后期更新待续：</span>当前larryMS2.0版还有一些细节待完善：容错性测试，功能上如选项卡操作：关闭当前左侧选项卡、关闭当前右侧选项卡、返回上一步打开的选项卡(返回)、返回后前进...等小功能以及性能优化，这些在后面都会持续更新，另外关于后台布局，当前社区案例中与后台相关的风格几乎趋于一致，但完整实用的案例较少屈指可数，若此版本能得到较好认可与支持，后续将努力推出完全基于layui更多风格的后台模板案例（同时接受模板定制），同时也期待官方出品的layuiMS，再次感谢大家的关注与支持！ <a href="http://fly.layui.com/case/2017/" target="_blank" class="layui-btn layui-btn-mini">给larryCMS点个赞</a>
                            </p>
                        </div>
                    </fieldset>
                </div>
            </section>
        </div>

        <div class="layui-col-xs12 layui-col-sm12 layui-col-md6 layui-col-lg6">
            <section class="larry-panel">
                <div class="larry-panel-header">
                    <div class="larry-panel-title inline-block">数据统计</div>
                    <div class="tools inline-block fr down"><i class="larry-icon">&#xe93a;</i></div>
                </div>
                <div class="larry-panel-body">
                    <div class="larry-seo-stats" id="larry_counts"></div>
                </div>
            </section>
        </div>



	</div>

</div>
<!-- 加载js文件 -->
<script type="text/javascript" src="/static/common/frame/layui/layui.js"></script>
<script type="text/javascript" src="/static/backstage/js/common.js"></script>
<script type="text/javascript" src="/static/backstage/js/main.js"></script>
<!--[if lt IE 9]>
  <script src="/static/common/js/html5.min.js"></script>
  <script src="/static/common/js/respond.min.js"></script>
<![endif]-->
</body>
</html>