html{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
body{
	height: 100%;
	background: #ffffff;
	overflow-x: hidden;
}
.larry-wrapper{
	padding-top: 15px;
	padding-bottom: 15px;
}
.layui-bg-pale{
	background: #5FB878;
}

.larry-panel{
	background: #ffffff;
	border: 1px solid #EEEFF4;
	-webkit-border-radius:4px;
	border-radius: 4px;
}
.larry-panel-header{
    padding: 15px 20px 15px 15px;
    border: none;
    border-bottom: 1px solid #EEEFF1;
    font-size: 14px;
}
.larry-panel-title{
	text-align: left;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	font-weight: 400;
	font-family: "Microsoft YaHei";
}
.larry-panel-header .tools{
	text-align: right;
	color: #dddddd;
	cursor: pointer;
}
.larry-panel-header .tools i{
	font-size: 24px;
	line-height: 24px;
	color: #dddddd;
}
.larry-panel-header .tools:hover i{
	color: #666666;
}
.larry-panel-body{
    padding: 15px;
}
/*panel主题*/
.larry-panel-bg-one .larry-panel-header{
   background: #32AFCD;
   color: #ffffff;
}
.larry-panel-bg-one .larry-panel-header .tools i{
	color: #ffffff;
}
/*larry动画处理*/
.larry-ico-rotate{
	cursor: pointer;
}
.larry-ico-rotate i{
    -webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out
}
.larry-ico-rotate:hover i,.larry-ico-rotate:focus i,.larry-ico-rotate:active i{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}
